body {
  padding: 0;
  margin: 0;
  font: 14px Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
header {
  color: #EEEEEE;
  background: #999999;
  height: 60px;
  padding: 0 60px;
  margin: 0 0 24px 0;
}
header h1 {
  margin: 0;
  line-height: 60px;
}
section {
  width: 700px;
  margin: 0 auto 32px auto;
  border-bottom: 1px solid #666666;
}
section header {
  padding: 0;
  margin: 0;
  background: #FFFFFF;
  height: 32px;
  color: #666666;
}
section header h2 {
  padding: 0;
  margin: 0;
  font-size: 28px;
}
section header h2 a {
  line-height: 32px;
  color: #666666;
}
.checkgroup {
  background: #EEEEEE;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  padding: 10px;
}
.checkgroup input[type=checkbox] {
  margin-top: 0;
}
.checkgroup .checkbox-inline {
  padding-top: 0;
}
